body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: row;
    background-color: red;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}


nav {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 40px;
    padding-left: 2em;
    padding-right: 2em;
    width: 25%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    z-index: 1001;
    background: #ffffff;
    border-right: 1px solid #e6e6e6;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-button-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    font-size: 18px;
}

.nav-button-text * {
    text-decoration: none;
    color: inherit;
}

.nav-button-text .url-active {
    color: rgb(54, 134, 255);
}

.nav-button-line {
    border-bottom: 2px solid transparent;
    animation-name: border-bottom-unfill;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.nav-button-text:hover .nav-button-line {
    animation-name: border-bottom-fill;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes border-bottom-unfill {
    0% {
        border-bottom: 2px solid rgb(54, 134, 255);
        width: 130%;
    }

    50% {
        border-bottom: 2px solid rgb(54, 134, 255);
        width: 150%;
    }

    100% {
        border-bottom: 2px solid rgb(54, 134, 255);
        width: 0%;
    }
}

@keyframes border-bottom-fill {
    0% {
        border-bottom: 2px solid rgb(54, 134, 255);
        width: 0%;
    }

    50% {
        border-bottom: 2px solid rgb(54, 134, 255);
        width: 130%;
    }

    100% {
        border-bottom: 2px solid rgb(54, 134, 255);
        width: 100%;
    }
}

main {
  margin-left: 25%; 
  padding: 0px 10px;
  width: 50%;
}